
body
{
    font-family: Arial;
    background-color: rgb(185,179,175);
}

h1
{
    color: rgb(255, 255, 255)
    
}
h2 {
    color: #b5660b;
}
p {
    background-color: #ffffff;
    background-color: hsla(0, 100%, 100%, 0.5);
    color: #64645A;
    padding: inherit;
    
}

li {
    list-style-image: url("images/icon-plus.png");
    line-height: 1.6em;
}
table {
    border: none;}
th, td {
    border: none;
    background-color: #dddddd;
    padding: 5px;
    width: 	100px;}
